@use '../abstracts' as *;

.footer-content {
    display: flex;
    margin-top: rem(5px);
    flex-direction: column;
    align-items: center;
    @include mq(medium) {
        margin-top: rem(31px);
        align-items: flex-end;
        flex-direction: row;
    }
}