@use '../00-tools' as *;

.illustration {
    background-repeat: no-repeat;
    background-position: center;
    &.-top {
        background-image: url("../assets/shared/tablet/bg-pattern-small-circle-top.svg");
    }
    &.-bottom {
        background-image: url("../assets/shared/tablet/bg-pattern-small-circle-bottom.svg"); 
    }
    &.-left {
        background-image: url("../assets/shared/tablet/bg-pattern-small-circle-left.svg");
    }
}