:root {
    --primary:         hsl(0,   0%, 100%);
    --primary-dark:    hsl(210, 17%, 95%);
    --secondary:       hsl(11, 73%,  66%);
    --secondary-light: hsl(11, 100%, 80%);
    --tertiary:        hsl(270, 3%,  11%);
    --tertiary-light:  hsl(264, 5%,  20%);
}


/********************** Variables **********************/
    // Descriptive base colors

    $black:      hsl(270, 3%,  11%);
    $white:      hsl(0,   0%, 100%);
    $darkGray:   hsl(264, 5%,  20%);
    $lightGray:  hsl(210, 17%, 95%);
    $lightPeach: hsl(11, 100%, 80%);