@use '../../abstracts' as *;

.trait {
    @extend %flex;
    @extend %flex-d-c;
    @extend %flex-ai-c;
    &__header {
        margin-top:    rem(48px);
        margin-bottom: rem(32px);
    }
    @media (min-width: 768px) and (max-width: 1359px) {
        flex-direction: row;
        justify-content: space-between;
        &__text {
            text-align: left;
        }
        &__header {
            text-align: left;
            margin-top:    0;
            margin-bottom: rem(16px);
        }
        &__inner {
            width: rem(439px);
        }
    }
}