@use '../abstracts' as *;

.btn {
    width: rem(152px);
    height: rem(56px);
    font-weight: 500;
    border-radius: 8px;
    text-transform: uppercase;
    @extend %flex-center;
    &:hover {
        color: $white;
        background-color: $lightPeach;
    }
    &--white {
        color: $black;
        background-color: $white;
    }
    &--peach {
        color: $white;
        background-color: $peach;
    }
    &--submit {
        border: none;
        margin: auto;
        cursor: pointer;
        @include mq(medium) {
            margin-right: initial;
        }
    }
}

