@use '../abstracts' as *;

.background {
    @include mq(large) {
        width:  rem(1006px);
        height: rem(594px);
        position: absolute;
        z-index: -10;
        background-color: $lightGray;
        &--475 {
            top: rem(475px);
            border-radius: 297px 297px 297px 0px;
        }
    }
}

