@use '../abstracts' as *;

.icons {
    width: rem(184px);
    @extend %flex;
    @extend %flex-ai-c;
    @extend %flex-jc-sb;
    &__icon {
        fill: $peach;
    }
    &__icon:hover {
        fill: $lightPeach;
    }
    @include mq(medium) {
        margin-left: auto;
    }
}