@use '../abstracts' as *;

.lets-talk {
    margin-top: rem(96px);
    height: rem(379px);
    background-color: $peach;
    @extend %br-15;
    @include mq(medium) {
        margin-top: rem(67px);
        height: rem(350px);
    }
    @include mq(large) {
        margin-top: rem(160px);
        height: rem(292px);
    }
    &__header {
        font-size:   rem(32px);
        @include mq(medium) {
            font-size:   rem(40px);
            line-height: rem(40px);
        }
        @include mq(large) {
            // may have to set text-align to left on large devices
        }
    }
}