@use '../abstracts' as *;

.secondary-navigation {
    &__inner {
        @extend %flex;
        @extend %flex-d-c;
        @extend %flex-ai-c;
        @include mq(medium) {
            flex-direction: row;
            border-bottom: 1px solid #979797;
        }
    }
    &__list {
        padding-bottom: rem(32px); 
        @include mq(medium) {
            padding-bottom: rem(46px);
        }
    }
    &__list:first-child {
        width: 100%;
        margin-bottom: rem(32px);
        border-bottom: 1px solid #979797;
        @extend %flex;
        @extend %flex-jc-c;
        @include mq(medium) {
            width: initial;
            margin: rem(4px) auto 0 0;
            border: none;
        }
    }
    &__list:nth-last-child(-n+2) {
        @include mq(medium) {
            padding-left: 18px;
        }
    }
    &__link {
        color: $white;
        font-size:   rem(14px);
        line-height: rem(14px);
        letter-spacing: rem(2px);
        &:hover {
            text-decoration: underline;
            text-decoration-color: $white;
        }
    }   
}