@use '../../00-tools' as *;

.a-map {
    width: 100%;
    display: block;
    @include mq(medium) {
        border-radius: 15px;
    }
    @include mq(large) {
        height: rem(326px);
    }
}