@use '../00-tools' as *;

.a-shape {
    display: none;
    @include mq(large) {
        display: initial;
        position: absolute;
        z-index: -10;
        &.-top281 {
            top: rem(281px);
        }
        &.-top475 {
            top: rem(475px);
        }
        &.-top161 {
            right: 0;
            bottom: rem(161px);
        }
        &.-top1777 {
            top: rem(1777px);
            right: rem(-396px);
        }
        &.-top1879 {
            top: rem(1879px);
            right: 0;
            transform: rotate(-180deg);
        }
    }
}