@use '../../00-tools' as *;

.about-content {
    color: var(--tertiary);
    background-color: #FDF3F0;
    background-image: url(../assets/about/mobile/test.svg);
    background-repeat: no-repeat;
    background-position:  top left;
    padding: rem(80px) rem(24px);
    @include mq(medium) {
        background-position: bottom rem(44px) right rem(11px);
        padding: rem(68px) rem(58px);
        border-radius: 0 0 15px 15px; 
    }
    @include mq(large) {
        width: 57.4%;
        background-position:  bottom left rem(-146px);
        padding: rem(154px) rem(94px);
        border-radius: 0 15px 15px 0; 
    }
    &__header,
    &__text {
        @include mq(large) {
            text-align: left;
        }
    }
    &__header {
        color: var(--secondary);
        margin-bottom: rem(24px);
        text-transform: none;
        font-size:   rem(32px);
        line-height: rem(36px);
    }
    &__text {
        margin: auto;
        padding-bottom: rem(24px);
        max-width: rem(572px);
    }
    &__text:last-child {
        padding: 0;
    }
    &--real {
        @include mq(medium) {
            border-radius: 0 0 15px 15px; 
        }
        @include mq(large) {
            border-radius: 15px 0 0 15px; 
            background-image: url(../assets/shared/desktop/bg-pattern-two-circles.svg);
            background-position:  bottom left;
        }
    }
}

.m-aboutUsContent {
    color: var(--primary);
    background-color: var(--secondary);
    padding: rem(80px) rem(24px);
    background-size: rem(292px);
    background-repeat: no-repeat;
    background-position: top rem(-146px) right;
    background-image: url(../assets/about/desktop/bg-pattern-hero-about-desktop.svg);
    @include mq(medium) {
        padding: rem(64px) rem(58px);
        background-size: rem(640px);
        background-position: top rem(-430px) left rem(-122px);
        border-radius: 0 0 15px 15px; 
    }
    @include mq(large) {
        width: 57.4%;
        padding: rem(135px) rem(80px) rem(135px) rem(95px);
        background-position: bottom left;
        border-radius: 15px 0 0 15px; 
    }
    &__header,
    &__text {
        @include mq(large) {
            text-align: left;
        }
    }
    &__header {
        margin-bottom: rem(24px);
    }
    &__text {
        @include mq(medium) {
            max-width: rem(720px);
        }
    }
}