@use '../../00-tools' as *;

.o-ourCompany {
    @include mq(medium) {
        display: flex;
        flex-direction: column;
        gap: rem(120px);
    }
    @include mq(large) {
        gap: rem(160px);
    }
}