@use '../abstracts' as *;

.countries-section {
    width: rem(350px);
    height: rem(1188px);
    background-color: gray;
    margin: rem(120px) auto;
    @include mq(medium) {
       margin: 0 auto;
    }
    @include mq(large) {
        width: calc(100% - rem(330px));
        height: rem(364px);
    }
}