@use '../abstracts' as *;

.countries-section {
    width: rem(350px);
    margin: rem(120px) auto;
    display: flex;
    flex-direction: column;
    gap: rem(48px);
    @include mq(medium) {
       margin: 0 auto;
       gap: rem(58px);
    }
    @include mq(large) {
        width: calc(100% - rem(330px));
        height: rem(364px);
        flex-direction: row;
        justify-content: space-between;
        gap: rem(30px);
    }
}