@use '../../00-tools' as *;

.m-contactContent {
    color:var(--primary);
    @include mq(large) {
        max-width: rem(445px);
    }
    &__header,
    &__text {
        @include mq(medium) {
            text-align: left;
        }
    }
    &__header {
        margin-bottom: rem(24px);
        @include mq(medium) {
            margin-bottom: rem(32px);
        }
        @include mq(large) {
            margin-top: rem(80px);
        }
    }
}