@use '../../../00-tools' as *;

.l-locationSection {
    width: 100%;
    display: grid;
    gap: rem(40px);
    grid-template-columns: 1fr;
    @include mq(medium) {
        gap: rem(120px);
        margin: auto;
        width: calc(100% - rem(80px));
    }
    @include mq(large) {
        gap: rem(32px);
        width: calc(100% - rem(330px));
    }
}