@use '../../../00-tools' as *;

.c-contactForm {
    position: relative;
    margin-top: rem(48px);
    @extend %flex;
    @extend %flex-d-c;
    @include mq(medium) {
        margin-top: rem(40px);
    }
    @include mq(large) {
        width: 100%;
        max-width: rem(380px);
        margin: 0;
    }
}

    .c-contactForm__input,
    .c-contactForm__textarea {
        width: 100%;
        font-size: rem(15px);
        line-height: rem(26px);
        color: var(--primary);
        cursor: pointer;
        border: none;
        background: none;
        border-bottom: 1px solid var(--primary);
        padding-left: rem(14px);
        padding-bottom: rem(12px);
        @include mq(medium) {
            padding-left: rem(24px);
        }
        @include mq(large) {
            padding-left: rem(16px);
        }
    }

    .c-contactForm__input:focus,
    .c-contactForm__textarea:focus {
        outline: none;
        opacity: 1;
        border-bottom: 2px solid var(--primary);
    }

    .c-contactForm__input::placeholder,
    .c-contactForm__textarea::placeholder {
        color: var(--primary);
        opacity: 0.5;
    }

    .c-contactForm__input {
        position: relative;
        height: rem(38px);
        margin-bottom: rem(25px);

    }

    .c-contactForm__input::after { 
        content: "";
    }

    .c-contactForm__textarea {
        height: rem(102px);
        margin-bottom: rem(40px);
        @include mq(medium) {
            margin-bottom: rem(24px);
        }
    }