@use '../../../00-tools' as *;

.c-empty {
    width: rem(104px);
    display: none;
    align-items: center; 
    justify-content: space-between;
    position: absolute;
    right: rem(8px);
}
    .c-empty__message {
        font-family: 'Jost';
        font-style: italic;
        font-weight: 400;
        font-size: rem(12px);
        line-height: rem(26px);
        letter-spacing: normal;
        text-transform: none;
    }

.c-empty.-message,
.c-empty.-error {
    display: flex;
}

.c-empty.-error {
    position: relative;
    left: rem(8px);
    justify-content: flex-start;
    gap: rem(16px);
    width: initial;
    margin-top: rem(-20px);
    padding-bottom: rem(16px);
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

.c-empty.-message {
    top: rem(1px);
}