@use '../00-tools' as *;

.c-footerNavigation {
    @extend %flex;
    @extend %flex-d-c;
    @extend %flex-ai-c;
    @include mq(medium) {
        flex-direction: row;
        border-bottom: 1px solid #979797;
    }
}

    .c-footerNavigation__list {
        padding-bottom: rem(32px); 
        @include mq(medium) {
            padding-bottom: rem(46px);
        }
    }

    .c-footerNavigation__list:first-child {
        width: 100%;
        margin-bottom: rem(32px);
        border-bottom: 1px solid #979797;
        @extend %flex;
        @extend %flex-jc-c;
        @include mq(medium) {
            width: initial;
            margin-bottom: 0;
            margin-right: auto;
            border: none;
        }
    }

    .c-footerNavigation__list:nth-last-child(-n+2) {
        @include mq(medium) {
            padding-left: 18px;
        }
    }

    .c-footerNavigation__link {
        color: var(--primary);
        font-size:   rem(14px);
        line-height: rem(14px);
        letter-spacing: rem(2px);
        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--primary);
        }
    }