@use '../00-tools' as *;

.c-info {
    margin-bottom: rem(40px);
    color: var(--primary-dark);
    opacity: 0.5;
    text-align: center;
    width: 100%;
    height: rem(78px);
    @include mq(medium) {
        text-align: left;
        margin-bottom: 0;
        width: rem(250px);
        margin-right: rem(10px);
    }
    @include mq(large) {
        width: rem(350px);
        margin-right: rem(30px);
    }
}

    .c-info__header,
    .c-info__text {
        display: block;
        font-size: 1rem;
        line-height: rem(26px);
    }

    .c-info__header {
        letter-spacing: 1px;
        font-weight: 700;
    }

.c-info.-location {
    margin: 0;
    opacity: 1;
    color: var(--tertiary-light);
    @include mq(medium) {
        width: rem(255px);
    }
}