@use '../00-tools' as *;

.c-letsTalk {
    height: rem(379px);
    // margin-top:    rem(96px);
    margin-bottom: rem(-190px);
    padding: rem(64px) rem(24px);
    background-color: var(--secondary);
    position: relative;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center right rem(-310px);
    background-image: url("../assets/shared/desktop/bg-pattern-call-to-action.svg");
    @extend %br-15;
    @extend %flex;
    @extend %flex-d-c;
    @extend %flex-ai-c;
    @extend %flex-jc-sb;
    @include mq(medium) {
        height: rem(350px);
        // margin-top:    rem(67px);
        margin-bottom: rem(-86px);
        padding: rem(57px);
        background-position: center right rem(-170px);
    }
    @include mq(large) {
        height: rem(292px);
        // margin-top:    rem(160px);
        margin-bottom: rem(-72px);
        padding: rem(72px) rem(68px);
        flex-direction: row;
        background-position: center right rem(0px);
    }
}

    .c-letsTalk__inner {
        flex-grow: 2;
    }

    .c-letsTalk__header {
        font-size: rem(32px);
        text-transform: none;
        letter-spacing: normal;
        margin-bottom: 1rem;
        @include mq(medium) {
            font-size:   rem(40px);
            line-height: rem(40px);
        }
        @include mq(large) {
            text-align: left;
        }
    }

    .c-letsTalk__text {
        max-width: rem(350px);
        @include mq(medium) {
            max-width: rem(470px);
        }
        @include mq(large) {
            text-align: left;
            max-width: rem(455px);
        }
    }

.c-letsTalk.-about {
    margin-top: rem(120px);
    @include mq(medium) {
        margin-top: 0;
    }
}