@use '../00-tools' as *;

.c-socialIcons {
    width: rem(184px);
    @extend %flex;
    @extend %flex-ai-c;
    @extend %flex-jc-sb;
    @include mq(medium) {
        margin-left: auto;
    }
}

    .c-socialIcons__icon {
        fill: var(--secondary);
    }

    .c-socialIcons__icon:hover {
        fill: var(--secondary-light);
    }