@use '../00-tools' as *;

.icons {
    width: rem(184px);
    @extend %flex;
    @extend %flex-ai-c;
    @extend %flex-jc-sb;
    @include mq(medium) {
        margin-left: auto;
    }
    &__icon {
        fill: var(--secondary);
    }
    &__icon:hover {
        fill: var(--secondary-light);
    }
}