@use '../00-tools' as *;

.wrapper {
    margin: 0 auto;
    width: calc(100% - rem(48px));
    @include mq(medium) {
        width: calc(100% - rem(80px));
    }
    @include mq(large) {
        width: calc(100% - rem(330px));
    }
}

.wrapper--hero {
    background-color: var(--secondary);
    @media (max-width: 767px) {
        width: 100%;
    }
    @include mq(medium) {
        border-radius:  15px;
    }
}