@use '../00-tools' as *;

.countries-section {
    max-width: rem(350px);
    display: flex;
    flex-direction: column;
    gap: rem(48px);
    margin: 0 auto;
    @include mq(medium) {
       gap: rem(58px);
    }
    @include mq(large) {
        width: calc(100% - rem(330px));
        max-width: initial;
        height: rem(364px);
        flex-direction: row;
        justify-content: space-between;
        gap: rem(30px);
    }
    &--contact {
        margin: rem(120px) auto;
        @include mq(large) {
            margin: rem(160px) auto;
        }
    }
}