@use '../00-tools' as *;

.design-cards-section {
    display: grid;
    gap: 24px;
    @include mq(large) {
        height: rem(640px);
        grid-template-columns: repeat(2, 1fr);
        &--projects {
            height: auto;
        }
    }
}