@use '../abstracts' as *;

.about-content {
    padding: rem(80px) rem(24px);
    @include mq(medium) {
        padding: rem(64px) rem(58px);
    }
    @include mq(large) {
        width: 57.4%;
        padding: rem(135px) rem(80px) rem(135px) rem(95px);
    }
    &__header {
        margin-bottom: rem(24px);
        @include mq(medium) {
            margin-bottom: rem(32px);
        }
        @include mq(large) {
            text-align: left;
        }
    }
    &__text {
        max-width: rem(550px);
        margin: auto;
        @include mq(medium) {
            max-width: rem(720px);
        }
        @include mq(large) {
            text-align: left;
        }
    }
    &--about-us {
        background-image: url(../assets/about/desktop/bg-pattern-hero-about-desktop.svg);
        background-repeat: no-repeat;
        background-position: top rem(-146px) right;
        background-size: rem(292px);
        @include mq(medium) {
            background-size: rem(640px);
            background-position: top rem(-430px) left rem(-122px);
        }
        @include mq(large) {
            background-position: bottom left;
        }
    }
}