@use '../abstracts' as *;

.about-card {
    color: $white;
    @include mq(large) {
        display: flex;
        flex-direction: row-reverse;
    }
    &__image {
        width: 100%;
        height: 100%;
        display: block;
        @include mq(medium) {
            border-radius: 15px 15px 0 0;
        }
        @include mq(large) {
            border-radius: 0 15px 15px 0;
        }
    }
}