@use '../00-abstracts' as *;

.country {
    @extend %flex;
    @extend %flex-d-c;
    @extend %flex-ai-c;
    &__header {
        margin-top:    rem(48px);
        margin-bottom: rem(32px);
    }
    &__image {
        background-repeat: no-repeat;
        background-position: center;
        &--top {
            background-image: url("../assets/shared/tablet/bg-pattern-small-circle-top.svg");
        }
        &--bottom {
            background-image: url("../assets/shared/tablet/bg-pattern-small-circle-bottom.svg"); 
        }
        &--left {
            background-image: url("../assets/shared/tablet/bg-pattern-small-circle-left.svg");
        }
    }
}