@use '../abstracts' as *;

.hero {
    color: $white;
    height: rem(320px);
    background-image: url(../assets/web-design/desktop/bg-pattern-intro-web.svg);
    background-repeat: no-repeat;
    background-position: top right;
    @include mq(medium) {
        height: rem(252px);
        background-position: center left rem(-20px);
    }
    &__header {
        padding-top: rem(105px);
        padding-bottom: rem(24px);
        @include mq(medium) {
            padding-top: rem(63px);
        }
    }
    &__text {
        margin: 0 auto;
        width: 90%;
        max-width: rem(385px);
    }
}

