@use '../00-abstracts' as *;

.info {
    margin-bottom: rem(40px);
    color: $lightGray;
    opacity: 0.5;
    text-align: center;
    width: 100%;
    height: rem(78px);
    @include mq(medium) {
        text-align: left;
        margin-bottom: 0;
        width: rem(250px);
        margin-right: rem(10px);
    }
    @include mq(large) {
        width: rem(350px);
        margin-right: rem(30px);
    }
    &__header,
    &__text {
        display: block;
        font-size: 1rem;
        line-height: rem(26px);
    }
    &__header {
        letter-spacing: 1px;
        font-weight: 700;
    }
    &--location {
        opacity: 1;
        color: $darkGray;
        margin: 0;
        @include mq(medium) {
            width: rem(255px);
        }
    }
}