@use '../abstracts' as *;

.location {
    &__map {
        width: 100%;
        display: block;
    }
    &__card {
        height: rem(394px);
        background-color: $peach;
    }
    @include mq(medium) {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(30px) ;
        &__map,
        &__card {
            border-radius: 15px;
        }
        &__card {
            height: rem(326px);
        } 
    }
    @include mq(large) {
        grid-template-columns: 1fr 2fr;
        &--switch {
            grid-template-columns: 2fr 1fr;
        }
        &__map {
            height: 100%;
        }
        &__card--switch {
            order: -1;
        }
    }
}