@use '../abstracts' as *;

.location {
    @include mq(medium) {
        display: grid;
        gap: rem(30px);
        grid-template-columns: 1fr;
    }
    @include mq(large) {
        gap: 2.71%;
        grid-template-columns: 31.53% 65.76%;
        &--switch {
            grid-template-columns: 65.76% 31.53%;
        }
    }
}


