@use '../abstracts' as *;

.shape {
    @include mq(large) {
        width:  rem(1006px);
        height: rem(594px);
        position: absolute;
        z-index: -10;
        background-color: $lightGray;
        border-radius: 297px 297px 297px 0px;
        &--281 {
            top: rem(281px);
        }
        &--475 {
            top: rem(475px);
        }
        &--1879 {
            top: rem(1879px);
            right: 0;
            opacity: 0.5;
            transform: rotate(-180deg);
        }
    }
}

