@use '../abstracts' as *;

.shape {
    @include mq(large) {
        position: absolute;
        z-index: -10;
        &--281 {
            top: rem(281px);
        }
        &--475 {
            top: rem(475px);
        }
        &--1879 {
            top: rem(1879px);
            right: 0;
            transform: rotate(-180deg);
        }
        &--1777 {
            top:   rem(1777px);
            right: rem(-396px);
        }
    }
}