@use '../../../00-tools' as *;

.c-aboutCard {
    max-width: rem(689px);
    background-color: transparent;
    @include mq(large) {
        max-width: initial;
        display: flex;
    }
}

    .c-aboutCard__image {
        width:  100%;
        display: block;
        @include mq(medium) {
            border-radius: 15px 15px 0 0; 
        }
        @include mq(large) {
            height: 100%;
            border-radius: 0 15px 15px 0;
        }
    }

    .c-aboutCard__image.-world {
        @include mq(large) {
            border-radius: 15px 0 0 15px;
        }
    }


.c-aboutCard.-about {
    margin-bottom: rem(-120px);
    @include mq(medium) {
        margin-bottom: initial;
    }
}

.c-aboutCard.-reverse {
    flex-direction: row-reverse;
}